<div class="orange lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <img routerLink="/home" id="logo-container" class="center" src="assets/media/logo-square.png" width="65" height="65">
  </div>
</div>

<router-outlet></router-outlet>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <br>
        <h5 class="white-text">About Us
        </h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text"></h5>
        <ul>
          <li><a class="white-text" href="#!"></a></li>
          <li><a class="white-text" href="#!"></a></li>
          <li><a class="white-text" href="#!"></a></li>
          <li><a class="white-text" href="#!"></a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Instagram</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">Pinterest</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" align="center">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="conglinwang.github.io">PIGEON</a>
    </div>
  </div>
</footer>
