<div class="main-container">
  <img src="assets/media/corgi.jpg" alt="Corgi" style="width:100%;">
  <div class="text-block-lower"> 
    <h1 class="center">DOGEFLOW</h1>
    <h5 class="center">Blockchain Based Pet Foster Care Platform</h5>
    <br>
    <div class="center">
      <a routerLink="/pets" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <img id="dog=icon" class="center" src="assets/media/dog1.png" width="65" height="65">
          <h5 class="center">Advantage 1</h5>

          <p class="light" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius dapibus ex vel maximus. Etiam dictum quis lectus sed pellentesque. Ut non metus non turpis euismod interdum quis eget urna. Phasellus aliquet lacinia dui, sit amet placerat elit eleifend id. In hac habitasse platea dictumst. Suspendisse fringilla elit eget scelerisque dictum. Fusce in justo ut augue vestibulum consectetur vitae vitae mauris. Morbi scelerisque ligula at arcu consectetur, vel tristique justo facilisis. Sed molestie facilisis sem, id luctus ex gravida nec. Morbi nec mauris molestie, cursus felis ac, malesuada quam. Phasellus at sem placerat, aliquet purus eu, fringilla felis. Suspendisse ultrices laoreet libero blandit sodales. Vivamus et massa vel sapien feugiat aliquam. Aliquam dui mauris, gravida eu fringilla at, blandit sit amet felis.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <img id="dog=icon" class="center" src="assets/media/dog2.png" width="65" height="65">
          <h5 class="center">Advantage 2</h5>

          <p class="light" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius dapibus ex vel maximus. Etiam dictum quis lectus sed pellentesque. Ut non metus non turpis euismod interdum quis eget urna. Phasellus aliquet lacinia dui, sit amet placerat elit eleifend id. In hac habitasse platea dictumst. Suspendisse fringilla elit eget scelerisque dictum. Fusce in justo ut augue vestibulum consectetur vitae vitae mauris. Morbi scelerisque ligula at arcu consectetur, vel tristique justo facilisis. Sed molestie facilisis sem, id luctus ex gravida nec. Morbi nec mauris molestie, cursus felis ac, malesuada quam. Phasellus at sem placerat, aliquet purus eu, fringilla felis. Suspendisse ultrices laoreet libero blandit sodales. Vivamus et massa vel sapien feugiat aliquam. Aliquam dui mauris, gravida eu fringilla at, blandit sit amet felis.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <img id="dog=icon" class="center" src="assets/media/dog3.png" width="65" height="65">
          <h5 class="center">Advantage 3</h5>

          <p class="light" style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius dapibus ex vel maximus. Etiam dictum quis lectus sed pellentesque. Ut non metus non turpis euismod interdum quis eget urna. Phasellus aliquet lacinia dui, sit amet placerat elit eleifend id. In hac habitasse platea dictumst. Suspendisse fringilla elit eget scelerisque dictum. Fusce in justo ut augue vestibulum consectetur vitae vitae mauris. Morbi scelerisque ligula at arcu consectetur, vel tristique justo facilisis. Sed molestie facilisis sem, id luctus ex gravida nec. Morbi nec mauris molestie, cursus felis ac, malesuada quam. Phasellus at sem placerat, aliquet purus eu, fringilla felis. Suspendisse ultrices laoreet libero blandit sodales. Vivamus et massa vel sapien feugiat aliquam. Aliquam dui mauris, gravida eu fringilla at, blandit sit amet felis.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>
</div>